    {% load static %}
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="{% static 'web/images/logo.png' %}" alt="JengoLife Safaris" class="mb-3" height="50">
                    <p>Creating unforgettable Tanzania safari experiences with a perfect blend of adventure, luxury, and authentic cultural encounters.</p>
                </div>
                <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Home</a></li>
                        <li class="mb-2"><a href="#about">About Us</a></li>
                        <li class="mb-2"><a href="#safaris">Safari Packages</a></li>
                        <li class="mb-2"><a href="#destinations">Destinations</a></li>
                        <li class="mb-2"><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
                    <h5>Safari Packages</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a href="#">Serengeti Migration</a></li>
                        <li class="mb-2"><a href="#">Maasai Mara Adventure</a></li>
                        <li class="mb-2"><a href="#">Gorilla Trekking</a></li>
                        <li class="mb-2"><a href="#">Luxury Beach & Safari</a></li>
                        <li class="mb-2"><a href="#">Family Safaris</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h5>Newsletter</h5>
                    <p>Subscribe to our newsletter for safari updates and special offers.</p>
                    <form>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Your Email" aria-label="Your Email">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="my-4 bg-light">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">&copy; 2023 JengoLife Safaris. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="text-light me-3">Terms & Conditions</a>
                    <a href="#" class="text-light">Privacy Policy</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>